body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center; 
}
.boardParent{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.board{
  width: 500px;
  height: 500px;
  display: grid;
  
}
.footer{
font-size: 15px;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  margin-bottom: 4px;
}