body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
}
.content {

    font-size:25px;
    display: inline-grid;
    grid-template-areas:
      "header header"
      "menu content"
      "footer footer";
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    align-self: center;
    justify-content: center;
    margin-left: 37%;
    margin-right: 50%;
    text-align: center;
  }
  .content > div {
    background-color: rgba(255, 255, 255, 0.8);
    color:#000;
    align-self: center;
    padding: 10px;
    height: 5px;
    width: 80px;
  }